<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>微信控制台</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div id="Header"></div>
    <div id="Content">
        <div id="ContentHeader">
            <div>
                <a href='/wx' class='cls'><span class="style-label-personal"></span>发布平台</a>
                <a href='/settings' class='cls c'><span class="style-label-work"></span>后台设置</a>
                <a href='/wx' class='cls'><span class="style-label-travel"></span>使用说明</a>
                <a href='/signout' class='signout'>退出</a>
            </div>
        </div>
        <div id="ContentContent">
            <div  class="cell item">后台设置>></div>
            <div  class="cell item blue-border">
                <form class="pure-form pure-form-aligned">
                <fieldset>
                <div class="pure-control-group">
                    <label for="name">url地址</label><input id="name" type="text" placeholder="必须以http://开头，目前只支持80端口" class="pure-input-1-2">
                </div>
                <div class="pure-control-group">
                    <label for="password">关键词</label><input id="password" type="text" placeholder="必须是英文和数字，必须3-32字符" class="pure-input-1-2">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button">保存设置</button>
                </div>
                </fieldset>
                </form>
            </div>
            <div  class="cell item blue-border">
                <form class="pure-form pure-form-aligned">
                <fieldset>
                <div class="pure-control-group">
                    <label for="name">旧密码</label><input id="name" type="text" placeholder="必须以http://开头，目前只支持80端口" class="pure-input-1-2">
                </div>
                <div class="pure-control-group">
                    <label for="name">新密码</label><input id="name" type="text" placeholder="必须以http://开头，目前只支持80端口" class="pure-input-1-2">
                </div>
                <div class="pure-control-group">
                    <label for="password">重复新密码</label><input id="password" type="text" placeholder="必须是英文和数字，必须3-32字符" class="pure-input-1-2">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button">修改密码</button>
                </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div id="ContentFooter">
        </div>
    </div>
    <div id="Footer"></div>
</body>

</html>
