<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>微信控制台</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/pure-min.css">
</head>
    <style type="text/css"><!-- 
    body {background: -webkit-linear-gradient(top, transparent 23px, #ddd 34px),-webkit-linear-gradient(left, transparent 23px, #ddd 34px);background-size: 24px 24px;}
    #Main{width:460px;margin:30px auto;padding: 20px;-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px;background-color: white;border: 1px solid #CCC;border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;border-top-left-radius: 5px 5px;border-top-right-radius: 5px 5px;}
    
    --></style>
<body>
<div id="Main">

<form action="/signin" method="post" class="pure-form">
    <fieldset>
        <legend>微信-开发者后台</legend>

        <input type="text" placeholder="Admin" disabled>
        <input name="password" type="password" placeholder="Password">

        <button type="submit" class="pure-button notice">登录</button>
    </fieldset>
</form>

  </div>



  </body>
</html>
