<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>微信控制台</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div id="Header"></div>
    <div id="Content">
        <div id="ContentLeft">
            <p>vvv</p>
        </div>
        <div id="ContentMain">
            <div class="">
                <form action="/create/contact" method="post">
                    <input type="text"  value="联系人"  name='contactName'>
                    <input type="text"  value="联系人内容"  name='contactContent'>
                    <input type="submit" value="添加联系人" />
                </form>
            </div>
            <div id="ContentMainTable">
                <table>
                    <tbody>
                        <tr>
                            <td class="name">欧美家具生活馆</td>
                            <td class="content">
                                <input type="text"  value="欧美家具生活馆5880008阳西县六区工业园一路45号-1"  name='contactContent'>
                            </td>
                            <td>
                                <input type="submit" value="修改" />
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="name">欧美家具生活馆</td>
                            <td class="content">
                                <input type="text"  value="欧美家具生活馆5880008阳西县六区工业园一路45号-1"  name='contactContent'>
                            </td>
                            <td>
                                <input type="submit" value="修改" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cl"></div>
    <div id="Footer"></div>
</body>

</html>
