body {color: #333;}
a {text-decoration: none;color: #1b98f8;}

#Content {padding-left:150px;position: relative;}
#ContentHeader {position: fixed;top: 0;bottom: 0;overflow: auto;}
#ContentHeader {margin-left:-150px;width:150px;background: rgb(37, 42, 58);text-align: center;padding: 2em 0;}
#ContentContent {width: 96%;margin-left:10px;}

.cell{border-bottom: 1px solid #ddd;margin-bottom:8px;line-height: 120%;}
.item {background-image: url("/static/bg_item.png");background-position: 0 bottom;background-repeat: repeat-x;padding:10px;}
.blue-border:hover{}

.blue-border{border-left: 4px solid #eee;}
.name{font-size:16px;color: #666;margin-bottom:6px;}
.doc{font-size:12px;color: #999;margin-bottom:2px;}
.pure-form .pure-button-xsmall {font-size: 80%;}
.pure-form .pure-button-secondary {color: white;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background: rgb(66, 184, 221); }/* this is a light blue */

a.cls:link, a.cls:visited, a.cls:active {padding:16px 6px;display:block;background: rgb(37, 42, 58);color: #fff;}
a.cls:hover {background:#555;}
a.c:link, a.c:visited, a.c:active {background:#eee;border-left: 8px solid rgb(66, 184, 221);color:rgb(66, 184, 221);}
a.signout:link, a.signout:visited, a.signout:active {color: #eee;padding:16px 0px;display:block;bottom:10px;position:absolute;width:150px;border-bottom: 1px solid #ddd;}
a.signout:hover {background:#555;}

.style-label-personal,.style-label-work,.style-label-travel {width: 15px;height: 15px;display: inline-block;margin-right: 0.5em;border-radius: 3px;}
.style-label-personal {background: #ffc94c;}
.style-label-work {background: #41ccb4;}
.style-label-travel {background: #40c365;}
