body {background-color: #E4EDF6;padding: 0px;margin: 0px;font-family: "Lucida Grande", Verdana, "Lucida Sans", sans, Hei;font-size: 12px;}
a:link a:visited a:hover{color: #1886FF;border: none;text-decoration: none;}
a:active {color: #FFF;border: none;text-decoration: none;}
#Header{background-color: #004492;padding: 10px;border-bottom: 2px solid #004492;height: 50px;clear: both;margin-bottom: 20px;}
#ContentLeft{min-height:600px; margin-right: 2px;margin-bottom: 20px;width: 200px;padding: 10px;text-align: left;background-color: #D0E6F7;float:left;}
#ContentMain{margin: 0px 72px 0px 250px;text-align: left;padding: 0px 0px 20px 0px;width: 550px;}
#Footer{border-top: 1px dotted #CCC;text-align: center;padding: 10px;background-color: #F5F8FC;}
input{border: 1px solid #C2D5E3;}

.content input{width:380px;border-radius: 15px;padding:6px;border: 0px;outline: none;}


.cl{clear: both;}
.name{color: red;}
td {padding: 5px 0;border-bottom: 1px solid #C2D5E3;}
